* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body {
    background-color: aliceblue;
}


h1 {
    padding: 100px;
    text-decoration: underline;
    text-align: center;
    background-color: lightblue;
    font-size: 100px;
}