* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    background-color: lightskyblue;
}

header {
    background-color: aliceblue;
    text-align: left;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

header h2 {
    text-shadow: 5px 5px 5px rgb(18, 131, 169);
}

.container {
    background-color: rgb(196, 224, 249);
    text-align: left;
    font-size: 20px;
    height: 50px;
    margin: auto;
}

.empty-box {
    padding: 70px;
    margin: 60px auto 60px;
    width: auto;
    height: auto;
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;
    text-align: left;
}

.empty-box h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 5px 10px;
    text-decoration: underline;
    font-weight: 600;
    text-align: left;
}

.quiz h2 {
    font-size: 20px;
    font-weight: 400;
}

.btn {
    background-color: aliceblue;
    width: 100%;
    border: 2px solid gray;
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
}

.btn:hover {
    background: lightskyblue;
    color: white;
    transform: scale(1.025);
}

#start {
    background-color: aliceblue;
    border: 2px solid gray;
    border-radius: 1px;
    cursor: pointer;
    width: 200px;
}

#start:hover {
    background-color: lightskyblue;
    color: white;
    transform: scale(1.025);
}

footer {
    text-align: center;
    width: auto;
    height: auto;
    background-color: aliceblue;
    border: 2px solid gray;
    padding: 10px;
}